<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To-Do List</title>
    <link rel="stylesheet" href="/styles/styles.css">
</head>
<body>
    <section>
        <h1>Lista To-Do</h1>
        <form id="taskForm">
            <input type="text" name="task" id="taskInput" required placeholder="Dodaj zadanie">
            <button type="submit">Dodaj</button>
        </form>
        <!-- kod EJS iterujący po każdym elemencie tablicy tasks i dla każdego dodaje kod html -->
        <ul id="taskList">
            <% tasks.forEach(function(task) { %>
                <li id="task-<%= task._id %>">
                    <button onclick="deleteTask('<%= task._id %>', this)">Usuń</button>
                    <%= task.name %>
                </li>
            <% }); %>
        </ul>
    </section>
    <!-- Skrypt do obsługi formularza za pomocą Fetch API-->
    <script src="/js/fetch.js"></script>
</body>
</html>
